.hero {
width: 100%;
min-height: 100vh;
background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/tractor.jpeg');
background-size: cover;
background-position: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 40px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.8;
    font-size: 16px;

}
.more-right-arrow{
    width: 20px;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .hero-text h1 {
      font-size: 32px; /* smaller font for mobile */
    }
  
    .hero-text p {
      font-size: 14px; /* optional: adjust paragraph font size */
    }
  }
  
  @media (max-width: 480px) {
    .hero-text h1 {
      font-size: 26px;
    }
  
    .hero-text p {
      font-size: 13px;
    }
  }